.race_card {
    width: 60%;
    display: inline-block;
    vertical-align: top
}

.card_place {
    display: inline-block;
    margin: 5px
}

.gather_group {
    display: inline-block;
}

.race_list {
    height: 60%;
    box-shadow: 0 0 1px white;
}

.race_image {
    box-shadow: 0 0 5px white;
}